Options -Indexes
SetEnv PHP_VER 5_4
SetEnvIfNoCase EVE_TRUSTED "(.*)" HTTP_EVE_TRUSTED=$1
SetEnvIfNoCase EVE_SERVERIP "(.*)" HTTP_EVE_SERVERIP=$1
SetEnvIfNoCase EVE_CHARNAME "(.*)" HTTP_EVE_CHARNAME=$1
SetEnvIfNoCase EVE_CHARID "(.*)" HTTP_EVE_CHARID=$1
SetEnvIfNoCase EVE_CORPNAME "(.*)" HTTP_EVE_CORPNAME=$1
SetEnvIfNoCase EVE_CORPID "(.*)" HTTP_EVE_CORPID=$1
SetEnvIfNoCase EVE_ALLIANCENAME "(.*)" HTTP_EVE_ALLIANCENAME=$1
SetEnvIfNoCase EVE_ALLIANCEID "(.*)" HTTP_EVE_ALLIANCEID=$1
SetEnvIfNoCase EVE_REGIONNAME "(.*)" HTTP_EVE_REGIONNAME=$1
SetEnvIfNoCase EVE_CONSTELLATIONNAME "(.*)" HTTP_EVE_CONSTELLATIONNAME=$1
SetEnvIfNoCase EVE_SOLARSYSTEMNAME "(.*)" HTTP_EVE_SOLARSYSTEMNAME=$1
SetEnvIfNoCase EVE_STATIONNAME "(.*)" HTTP_EVE_STATIONNAME=$1
SetEnvIfNoCase EVE_STATIONID "(.*)" HTTP_EVE_STATIONID=$1
SetEnvIfNoCase EVE_CORPROLE "(.*)" HTTP_EVE_CORPROLE=$1
SetEnvIfNoCase EVE_SOLARSYSTEMID "(.*)" HTTP_EVE_SOLARSYSTEMID=$1
SetEnvIfNoCase EVE_WARFACTIONID "(.*)" HTTP_EVE_WARFACTIONID=$1
SetEnvIfNoCase EVE_SHIPID "(.*)" HTTP_EVE_SHIPID=$1
SetEnvIfNoCase EVE_SHIPNAME "(.*)" HTTP_EVE_SHIPNAME=$1
SetEnvIfNoCase EVE_SHIPTYPEID "(.*)" HTTP_EVE_SHIPTYPEID=$1
SetEnvIfNoCase EVE_SHIPTYPENAME "(.*)" HTTP_EVE_SHIPTYPENAME=$1